/* Upcoming Livestream section */
.upcoming-livestream {
  background-color: #d0d0d0; /* Light grey background */
  padding: 60px 0;
  text-align: center;
}

.upcoming-livestream h2 {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
}

.coming-soon-text {
  font-size: 20px;
  color: #777; /* Grey color for 'Coming soon...' text */
  margin-bottom: 30px; /* Space between the text and the button */
}

.livestream-button {
  background-color: #b58956;
  color: rgb(53, 53, 53);
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.livestream-button:hover {
  background-color: #fdd835;
}

/* General section styles */
.livestream-section {
  padding: 20px;
  text-align: center;
}

/* Dark background for the video embed sections */
.dark-bg {
  background-color: #252829;
  padding: 40px 0;
  color: white;
}

.livestream-embed h2 {
  color: white;
  font-style: italic;
  font-size: 50px;
  margin-bottom: 20px;
}

.livestream-video {
  max-width: 100%;
  border-radius: 8px;
}

/* Light background for the show order sections */
.light-bg {
  background-color: #f2f2f2d0;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #d0d0d0; /* Separation line at the top */
  border-bottom: 1px solid #d0d0d0; /* Separation line at the bottom */
}

.show-order-img {
  width: 50%;
  border-radius: 8px;
  margin-right: 20px;
  border-right: 10px solid #e7e7e7;
}

.show-order-text {
  text-align: left;
  width: 50%;
}

.show-order h3 {
  font-size: 45px;
  margin-bottom: 5px;
  border-bottom: 5px solid #e7e7e7;
}

.show-order ol {
  list-style-position: inside;
  font-size: 18px;
  margin-bottom: 10px;
}

.show-order li {
  margin-bottom: 10px;
  font-weight:lighter;
}

.show-order li strong {
  color: #000;
  font-weight:500;
}

.show-order p {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

/* Adding year under the show order title */
.rampage-year {
  font-size: 14px;
  color: #888;
  margin-left: 10px; /* Adjust spacing between 'Show Order' and year */
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .show-order-img, .show-order-text {
    width: 100%;
    text-align: center;
  }

  .light-bg {
    flex-direction: column;
    padding: 20px;
  }

  .show-order h3::after {
    font-size: 12px;
  }
}
